* {
  font-family: "Ubuntu", sans-serif;
}

/* light mode bootstrap class */
.navbar-light {
  color: #212529;
} 

.bg-light {
  background-color: #f8f9fa;
}

.navbar-brand {
  padding-left: 10%;
}

.carousel-item {
  min-height: 280px;
}

/* default */
body {
  /* background-image: url(./image/background.png);
  background-size: cover; */
  background-color: #f8f9fa;
}

section {
  padding-top: 5rem;
}

.card-title {
  color: #212529;
}

.card-text {
  color: #212529;
}

/* system prefered dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
    color: white;
  }
}

/* dark mode css */
.dark-mode {
  background-color: #212529;
  color: white;
}

/* button */
.button {
  cursor: pointer;
}
